body {
    font-family: Arial;
	background-color:rgb(231,231,224);
}

header {
    background-color:rgb(79,0,5);
    color:rgb(210,205,195);
    text-align: center;
	cursor:pointer;
	border-radius:5px;
}

header:hover {
	color:yellow;
}

nav {
    background-color:rgb(28,28,27);
    text-align: center;
	border-radius:5px;
    font-size:20px;
}

nav a {
    color:rgb(210,205,195);
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
	transition:0.3s;
}

table {
	width:50%;
	cursor:pointer;
	font-size:100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	
}

button {
    cursor:pointer;
	border-radius:5px;
    background-color:rgb(79,0,5);
    color:rgb(210,205,195);
}

button:hover {
	opacity:0.8;


}
button:active {
	opacity:0.4;
}

section {
    text-align: center;
    padding: 20px;
	font-size:20px;
	cursor:pointer;

}

input,placeholder {
	font-size:20px;
	border-radius:5px;
}

th {
    background-color:rgb(79,0,5);
    color:rgb(210,205,195);
}

@media (max-width:700px) {
	nav a {
		display:block;
		margin:5px;
	}
	table {
		border-collapse:collapse;
		width:100%;
		justify-content:center;
		display:flex;
		margin:0
		
		
	}
	
}